.hero-search {
    padding: 120px 600px;
}

.hero-search-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.hero-search-title-row {
    display: flex;
    align-items: flex-start;
    gap: 6px;
    margin-bottom: 16px;
}

.hero-search-title-row-title {
    margin: 0;
    color: var(--color-intense-cherry);
    font-size: 3.8rem;
}

.hero-search-title-row-icon {
    margin-top: 8px;
    color: var(--color-midnight-violet);
}

.hero-search-input-row {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.hero-search-input-wrapper {
    width: 360px;
    height: 44px;
    padding: 0 14px;
    border-radius: 24px;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    gap: 10px;    
}

.hero-search-input-icon {
    color: var(--color-midnight-violet);
    flex-shrink: 0;
}

.hero-search-input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-midnight-violet);
    font-size: 1rem;
}

.hero-search-input::placeholder {
    color: var(--color-midnight-violet);
}

.hero-search-mic-button,
.hero-search-grid-button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-midnight-violet);
    border-radius: 50%;
    background-color: white;
    color: var(--color-midnight-violet);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-search-ai-button {
    height: 40px;
    padding: 0 16px;
    border: 1px solid var(--color-midnight-violet);
    border-radius: 22px;
    background-color: white;
    color: var(--color-midnight-violet);
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero-search-categories-row {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.hero-search-category-button {
    padding: 8px 18px;
    border: 1px solid var(--color-midnight-violet);
    border-radius: 22px;
    background-color: white;
    color: var(--color-midnight-violet);
}

.hero-search-find-button {
    padding: 10px 34px;
    border: 2px solid var(--color-intense-cherry);
    border-radius: 12px;
    background-color: white;
    color: var(--color-intense-cherry);
    font-weight: 600;
}

.hero-search-ai-button:hover,
.hero-search-category-button:hover {
    background-color: var(--color-midnight-violet);
    color: white;
    border: none;
}

.hero-search-find-button:hover {
    background-color: var(--color-intense-cherry);
    color: white;
}
