.app-header {
    width: 100%;
    background-color: white;
}

.app-header-container {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header-left,
.app-header-center,
.app-header-right {
    display: flex;
    align-items: center;
}

.app-header-left,
.app-header-right {
    flex: 1;
    gap: 12px;
}

.app-header-center {
    justify-content: center;
}

.app-header-right {
    justify-content: flex-end;
}

.app-header-logo {
    margin: 0;
    font-family: var(--font-heading);
    font-size: 2rem;
}

.app-header-circle-button,
.app-header-cart-button {
    width: 38px;
    height: 38px;
    border: 1px solid var(--color-midnight-violet);
    border-radius: 50%;
    background-color: white;
    color: var(--color-midnight-violet);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header-language-button,
.app-header-currency-button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 14px;
    border: 1px solid var(--color-midnight-violet);
    border-radius: 22px;
    background-color: white;
    color: var(--color-midnight-violet);
}

.app-header-cart-button,
.app-header-language-button {
    border: none;
}

.app-header-cart-button {
    position: relative;
}

.app-header-cart-badge {
    position: absolute;
    top: -6px;
    right: -4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--color-intense-cherry);
    color: white;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-header-circle-button:hover,
.app-header-cart-button:hover,
.app-header-language-button:hover,
.app-header-currency-button:hover {
    background-color: var(--color-intense-cherry);
    color: white;
    border: none
}