.bottom-navigation {
    width: 100%;
    background-color: white;
}

.bottom-navigation-container {
    min-height: 58px;
    display: flex;
    align-items: center;
    gap: 28px;
    padding-block: 12px;
}

.bottom-navigation-link {
    color: var(--color-midnight-violet);
    text-decoration: none;
    font-size: 0.95rem
}

.bottom-navigation-link:hover {
    color: var(--color-intense-cherry);
}

.bottom-navigation-link.active {
    color: var(--color-intense-cherry);
    font-weight: 600;
    border-bottom: 2px solid var(--color-intense-cherry);
    padding-bottom: 4px;
}

.bottom-navigation-link-right {
    margin-left: auto;
}

@media (max-width: 640px) {
    .bottom-navigation-container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px 20px;
    }

    .bottom-navigation-link-right {
        margin-left: 0;
    }
}