.bottom-navigation {
    width: 100%;
    background-color: white;
    margin-top: 70px;
}

.bottom-navigation-container {
    min-height: 58px;
    display: flex;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
}

.bottom-navigation-link {
    color: var(--color-midnight-violet);
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 0.95rem
}

.bottom-navigation-link:hover {
    color: var(--color-intense-cherry);
}

.bottom-navigation-link.active {
    color: var(--color-intense-cherry);
    font-weight: 600;
    border-bottom: 2px solid var(--color-intense-cherry);
    padding-bottom: 4px;
}

.bottom-navigation-link-right {
    margin-left: auto;
}